body {
    background-color: white;
    color: black;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for theme changes */
}



.dark-mode {
    background-color: black;
    color: white;

	
	#layout-content {
      background: black;
    }
	
	#layout-menu {
      background: black;
    }
	
	#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
	  color: white;
	  text-decoration: none;
    }


	
	a, a > tt {
	color: white;
    }
	
	h1, h2, h3 {
	color: white;
	}
	
	button {
	background: white;

}


}


.buttonPos {
    position: fixed;
    top: 1em;
    right: 0;
    padding: 200px;
	animation: rot 20s infinite linear;	
}



 @keyframes float {
    0%, 100% {
      transform: translateX(0);
    }
	50% {
      transform: translate3d(-100px,100px,0);
    }
  }
  
  
  @keyframes rot {
	from {
		transform: rotate(0deg)
		           translate(-150px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-150px) 
		           rotate(-360deg);
	}
}
 

button {
	background: none;
	border: none;
}

 


/* Add specific styles for elements that need to be adjusted in dark mode */
/* Example:
.dark-mode h1 {
    color: cyan;
}
*/

